.clear{
    background-image: url('../img/clear.jpg');
}

.clouds{
    background-image: url('../img/cloud.jpg');
}

.rain{
    background-image: url('../img/rain.jpg');
}

.snow{
    background-image: url('../img/snowy.jpg');
}

.mist{
    background-image: url('../img/fog.jpg');
}

i.wi {
    font-size: 5em;
    line-height: 3em;
}

.tooltip{
        
}

h1:hover .tooltip{
    opacity: 1;
}