<footer class="text-muted py-5 footer-style">
					<div class="container">

						<p class="float-end mb-1">
							<a href="#">
								<i class="fas fa-angle-double-up fa-lg"></i>
							</a>
						</p>
						<p class="mb-1">
							Sếp péo's Kitchen
							<i class="fas fa-paw"></i>
						</p>
					</div>
				</footer>