{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('assets/js/weather.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/weather.css') }}">
{% endblock %}


{% block body %}
<div id="weather" class="text-center">
    <h1> 
        <span id="ville"></span>
    </h1>

    <i class="wi"></i>

    <h2>
        <span id="temperature"></span>°C (<span id="condition"></span>)
    </h2>

</div>
{% endblock %}